body {
    background-image: linear-gradient(to right, red, yellow);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 759px;
    background-position: center center;
}